AWS_REGION=us-east-1
GATEWAY_URL=
KNOWLEDGE_BASE_ID=
MEMORY_ID=
BUDGET_TABLE_NAME=
AWS_ACCOUNT_ID=
BUDGET_PROJECT_ID=cost-control
ACCOUNT_MONTHLY_BUDGET_NANO_USD=100000000000
PROJECT_MONTHLY_BUDGET_NANO_USD=60000000000
